$border-color: #A6C9E2;

#banner {
    list-style-type: none;
}
#banner > li {
    float: left;
    font-size: 1.5em;
    line-height: 1.5em;
    padding-bottom: 1em;
}
#banner > li:nth-child(2) {
    float: right;
    margin-right: 1em;
}
.explanation {
    padding: 0.5em;
    margin-bottom: 0.5em;
    background-color: #ffe;
}
.path-list {
    margin: 0.5em;
    font-family: monospace;
    background-color: #ffe;
    text-align: center;
}
.spacer {
    display: inline-block;
    width: 0.5em;
}
#content {
    overflow: hidden;
    margin: 1em 1em 0.5em 1em;
    clear: left;
}
.filespace-panel {
    overflow: hidden;
}
.filespace-action-tabset {
    .ui-tabs-panel {
        overflow-y: auto;
        height: 20.5em;
    }
}
.tree-wrapper {
    width: 25%;
    float: left;
    .liner {
        border: 1px solid $border-color;
        border-radius: 5px;
        height: 26em;
        padding: 1em;
        margin-right: 0.25em;
        overflow-y: auto;
    }
}
.table-wrapper {
    width: 75%;
    float: left;
    .liner {
        padding: 0em 0.5em;
        // border: 1px solid green;
        // border-radius: 5px;
        // overflow-y: auto;
        height: 29em;
        .trail {
            height: 1.25em;
            background-color: #ffe;
            margin-bottom: 0.5em;
            border: 1px solid $border-color;
            border-radius: 5px;
            padding: 0.25em;
            font-size: large;
        }
    }
}
  
#leader {
    color: green;
    margin-right: 1em;
}
#alog {
    margin: 0.5em 1em 0em 1em;
    padding: 0.5em;
    border: 2px solid green;
    height: 200px;
    overflow-y: auto;
    clear: left;
}
.clear {
    clear: left;
}
.file-table {
    table-layout: fixed;
    width: 100%;
    font-size: 12px;
    th {
        &:nth-child(1) {width: 8%;}
        &:nth-child(2) {width: 40%;}
        &:nth-child(3) {width: 20%;}
        &:nth-child(4) {width: 17%;}
        &:nth-child(5) {width: 15%;}
    };
    td {
        word-wrap: break-word;
    }
}
.dataTables_processing {
    z-index: 1;
}