<div id="panel<%= id %>" class="panel">
  <div id="tree-wrapper">
    <div class="liner">
      <%= tag("div", id: "root-folder",
          data: {filespace: @filespace.id}) %>
      </div>
    </div>
  </div>
  <div id="upload-wrapper">
    <div id="trail"></div>
    <div class="liner">
      <div id="filespace-action-tabset">
        <ul>
	    <li><a href="#file-viewer">File Viewer</a></li>
	    <li><a href="#file-uploader">File Uploader</a></li>
	    <li><a href="#find-files">Search Filespace</a></li>
	    <li><a href="#manage-users">Filespace Members</a></li>
	</ul>
	<div id="file-viewer">
          <%= render :partial => 'viewer' %>
	</div>
	<div id="file-uploader">
          <%= render :partial => 'uploader',
            :locals =>  {:folder => @root_folder} %>
        </div>
	<div id="find-files">Find Files Panel</div>
	<div id="manage-users">Add or Remove Users Panel</div>
    </div>
  </div>
</div>
