<%= tag("table", {class: "file-table", id: "file-table-#{filespace}",
    data: {filespace: filespace, root: root, current: current,
      'json-url' => folder_documents_path(current) }}, true)%>
    <thead>
        <tr> 
            <th>Name</th>
            <th>Uploaded At</th>
            <th>Size</th>
            <th>Checksum</th>
         </tr>
    </thead>
    <tbody>
    </tbody>
</table>
